*.bat
*.exe
*.txt

/anonymous
/apache
/cgi-bin
/contrib
/FileZillaFTP

/htdocs/apidasar
/htdocs/Bootcamp assignment #2
/htdocs/dashboard
/htdocs/img
/htdocs/Netbox
/htdocs/webalizer
/htdocs/week3
/htdocs/xampp

/img
/install
/licenses
/locale
/mailoutput
/mailtodisk
/MercuryMail

/mysql/backup
/mysql/bin
/mysql/data/dbproduct
/mysql/data/mysql
/mysql/data/performance_schema
/mysql/data/phpmyadmin
/mysql/data/test
/mysql/data/transaction
/mysql/scripts
/mysql/share

/perl
/php
/php_backup
/phpMyAdmin
/sendmail
/src
/tomcat
/tmp
/webalizer
/webdav

